html{
  scroll-behavior: smooth;
}
.content__page{
  background: url("../../assets/images/background1.png");
  background-size: cover;
  background-position: center;
}
.root{
  background-color: $bg;
}
.section_sale{
  height: 50vh;
  background-image: url("../../assets/images/background_banner_sale.png");
}
.section_3{
  background-image: url("../../assets/images/background1.png")
}

